<h1 align= center> Deals in your city! </h1>

<%# might take this top paginate out%>
<div align="center">
	<%= will_paginate %>
</div>

<%= render 'article', obj: @articles %>

<div align="center">
	<%= will_paginate %>
</div>
