$navbar-default-bg: #EF6041;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

#logo {
	float: left;
	font-size: 1.7em;
	color: #FFF;
	font-weight: bold;
}

.center {
	text-align:center;
}

.jumbotron {
	background-image: asset-url('homestead.jpg');
	box-shadow: 10px 10px 5px grey;
	background-size: cover;
	height: 250px;
}

.article-meta-details {
	border-top: 1px solid #eaeaea;
	margin-top: 50px;
	margin-bottom: -30px;
}

.article-actions {
	border-top: 1px solid #eaeaea;
	padding-top: 10px;

}

.panel-deal {
	box-shadow: 10px 10px 5px grey;
}

.description {
	margin-top: 0;
}

.article-title {
	font-weight: bold;
	font-size: 1.5em;

}


.created {

}

.icons {
	float: right;
}

.menu {
    bottom: -100px;
    right: 0px;
}

.article-body {
	border-top: 1px solid #eaeaea;
	padding-top:15px;
	padding-bottom: 15px;
	
}

.listing {
	list-style: none;
	
}

.badge {
	background-color: #CEF6F5;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

.input_checkbox input {
	width: auto !important;
}

.footer {
	text-align: center;
  	padding: 30px 0;
  	background: #343a40;
  	color: #ffffff;
	border-top: 2px solid #eaeaea;
}

.social {
	padding: 0;
  	margin: 0;
  	text-align: center;
	list-style: none;
}

.fa-facebook {
}

.footer a:hover {
	color: #222;
}

.footer small {
	float: left;
}
