$navbar-default-bg: #EF6041;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

#logo {
	float: left;
	font-size: 1.7em;
	color: #FFF;
	font-weight: bold;
}

.center {
	text-align:center;
}

.jumbotron {
	background-image: asset-url('homestead.jpg');
	box-shadow: 10px 10px 5px grey;
	background-size: cover;
	height: 250px;
}

.article-meta-details {
	border-top: 1px solid #eaeaea;
	margin-top: 50px;
	margin-bottom: -30px;
}

.article-actions {
	border-top: 1px solid #eaeaea;
	padding-top: 10px;

}

.panel-deal {
	margin: 30px;
  	background: #ffffff;
  	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;
	box-shadow: 10px 10px 5px grey;
}

.description {
	margin-top: 0;
}

.article-title {
	font-weight: bold;
	font-size: 1.5em;

}


.created {

}

.icons {
	float: right;
	border-left: thick solid #ff0000;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	.menu {
		border-top: 4px solid #eaeaea;
		padding-top:15px;
	}
}

.article-body {
	border-top: 1px solid #eaeaea;
	padding-top:15px;
	padding-bottom: 15px;
	
}

.listing {
	list-style: none;
	
}

.badge {
	background-color: #CEF6F5;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

.input_checkbox input {
	width: auto !important;
}

.footer {
	text-align: center;
  	padding: 30px 0;
  	background: #343a40;
  	color: #ffffff;
	border-top: 2px solid #eaeaea;
}

.social {
	padding: 5px;
  	margin: 5px;
	list-style: none;
}

.fa-facebook {
	padding: 5px;
  	margin: 5px;
}

.fa-twitter {
	padding: 5px;
  	margin: 5px;
}

.fa-instagram {
	padding: 5px;
  	margin: 5px;
}

.footer a:hover {
	color: #fff;
}

.footer small {
}
