<div class= "container">
	<footer class="footer">
		<ul class="social">Follow us at
			<li><a href="https://facebook.com/buhr.io"><i class="fa fa-facebook fa-3x"></i></a>
			<a href="https://twitter.com/buhr_io"><i class="fa fa-twitter fa-3x"></i></a>
			<a href="https://instagram.com/buhrio"><i class="fa fa-instagram fa-3x"></i></a></li>
		</ul>
		<small>
			Copyright 2016 &copy;
			Buhr
		</small>
	</footer>
</div>