<div class= "container">
	<footer class="footer">
		<ul class="social">
			<li><a href="https://www.facebook.com/buhr.io"><i class="fa fa-facebook"></i></a>
			<a href="https://twitter.com/buhr_io"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-instagram"></i></a></li>
		</ul>
		<small>
			Copyright &copy;
			buhr
		</small>
	</footer>
</div>